<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <h1 style="color: white;" >Contacto</h1>
  <div class="container text-center text-md-left" data-aos="fade-up" style="border: 2px solid white; padding: 10px; color: white; text-align: left; max-width: 400px;">
    <p><strong>Nombre: </strong> Agustin Maldonado</p>
    <hr>
    <p><strong>Apellido: </strong> Maldonado</p>
    <hr>
    <p><strong>Dirección: </strong> Avenida Independencia 639</p>
    <hr>
    <p><strong>País: </strong> Argentina</p>
    <hr>
    <p><strong>Estudios: </strong> Ingeniería en Sistemas Informáticos (Universidad Abierta Interamericana)</p>
    <hr>
    <p><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/agustin-maldonado-30903b154/" target="_blank" style="color: blue; text-decoration: underline;">Agustin Maldonado</a></p>
    <hr>
    <p><strong>GitHub: </strong> <a href="https://github.com/Agusmaldo/" target="_blank" style="color: blue; text-decoration: underline;">Agusmaldo</a></p>
  </div>

  <div style="margin-top: 20px; z-index: 10000;">

      <a routerLink="/" class="btn-get-started scrollto">Volver</a>

  </div>
</section>
